@config "../../tailwind.config.ts";
@import "tailwindcss";

@theme {
  --color-primary-accent: #ffbd5a;
  --color-secondary-accent: #476c2e;
  --color-light-gray: #ffbd5a;
  --color-light-background: #ffffff;
  --color-dark-foreground: #363636;
  --color-primary: #ffbd5a;
  --color-secondary: #476c2e;
  --color-background: #ffffff;
  --color-foreground: #363636;
  --color-primary-foreground: #363636;
}

:root {
  --background: #ffffff;
  --foreground: #363636;
  --primary-accent: #ffbd5a;
  --secondary-accent: #476c2e;
  --light-gray: #ffbd5a;
  --primary: #ffbd5a;
  --secondary: #476c2e;
  --primary-foreground: #363636;
  --font-bebas-neue: 'Bebas Neue', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans); /* Apply DM Sans globally */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-dm-sans); /* Apply DM Sans to headings */
}

button {
  background-color: var(--color-secondary);
  color: #fff;
  transition: background-color 0.2s ease, color 0.2s ease;
}

button:hover,
button:focus-visible {
  background-color: var(--color-primary);
  color: var(--color-primary-foreground);
}
