@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #363636;
  --primary-accent: #ffbd5a;
  --secondary-accent: #476c2e;
  --light-gray: #ffbd5a;
  --font-bebas-neue: 'Bebas Neue', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;
}

@theme {
  --colors-primary-accent: var(--primary-accent);
  --colors-secondary-accent: var(--secondary-accent);
  --colors-light-gray: var(--light-gray);
  --colors-light-background: var(--background);
  --colors-dark-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans); /* Apply DM Sans globally */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-dm-sans); /* Apply DM Sans to headings */
}
