@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #363636;
  --primary-accent: #ffbd5a;
  --secondary-accent: #476c2e;
  --light-gray: #e9e9e9;
  --font-bebas-neue: 'Bebas Neue', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans); /* Use DM Sans for sans-serif */
  --font-mono: var(--font-bebas-neue); /* You can adjust this if you have a specific mono font */
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans); /* Apply DM Sans globally */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-bebas-neue); /* Apply Bebas Neue to headings */
}
