@import "tailwindcss";

:root {
  --font-bebas-neue: 'Bebas Neue', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;
}

@theme {
  --colors-primary-accent: #ffbd5a;
  --colors-secondary-accent: #476c2e;
  --colors-light-gray: #ffbd5a;
  --colors-background: #ffffff;
  --colors-foreground: #363636;
}

body {
  background: var(--colors-background);
  color: var(--colors-foreground);
  font-family: var(--font-dm-sans); /* Apply DM Sans globally */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-dm-sans); /* Apply DM Sans to headings */
}